<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% for dale in site.data.nav %}
                    <!-- check to see if the data file has a submenu, and if so display it -->
                    {% if dale.subcategories != null %}
                    <li class="dropdown">
                        <a href="{{ site.url }}{{ dale.url }}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">{{ dale.title }} <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            {% for subcategory in dale.subcategories %}
                            <li><a href="{{ site.url }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <!— display the top level navigation for items that don’t have a submenu -->
                        <li>
                            <a href="{{ site.url }}{{ dale.href }}">{{ dale.title }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</header>
